# server settings
NODE_ENV=development
APP_DOMAIN=http://localhost
APP_PORT=3000
TZ=Africa/Lagos

# SQLite credentials
DATABASE_LOCATION=db.sqlite

# Do you want to automatically update the DB schema each time the app is launched?
SYNC_ORM=false

# app secrets
SESSION_SECRET=1234abcd1234abcd1234abcd1234abcd1234abcd1234abcd1234abcd1234abcd # 256-bit secret

# logging
# NO_COLOR=
