# server settings
NODE_ENV=development
APP_DOMAIN=http://localhost
APP_PORT=3000
TZ=Africa/Lagos

# SQLite credentials
DATABASE_LOCATION=db.sqlite

# Do you want to automatically update the DB schema each time the app is launched?
SYNC_ORM=false

# app secrets
SESSION_SECRET=1234abcd1234abcd1234abcd1234abcd1234abcd1234abcd1234abcd1234abcd # 256-bit secret

# logging
# NO_COLOR=

# competition settings (ISO 8601 date/time for when the competition begins)
COMPETITION_START_TIME=2026-06-17T12:00:00+01:00
COMPETITION_DURATION_MINUTES=75
