# server settings
NODE_ENV=development
APP_DOMAIN=http://localhost
APP_PORT=3001 # allow frontend frameworks to use port 3000
TZ=Africa/Lagos

# SQLite credentials
DATABASE_LOCATION=test-db.sqlite

# Do you want to automatically update the DB schema each time the app is launched?
SYNC_ORM=false

# logging
# NO_COLOR=

# competition settings (ISO 8601 date/time for when the competition begins)
COMPETITION_START_TIME=2026-06-26T11:15:00+01:00
COMPETITION_DURATION_MINUTES=105
